#nodebb {
  font-family: 'Poppins', sans-serif;
}

/***********

  TOP CSS

************/

#nodebb .topic-profile-pic.user.first-image {
  position: relative;
  float: left;
  left: auto;
  width: 80px;
  margin: 0;
}

#nodebb .topic-profile-pic.user.first-image i{
  display: none;
}

#nodebb .topic-profile-pic.user.first-image .profile-image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 45px;
  line-height: 70px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

#nodebb textarea {
  font-family: Roboto,Helvetica,Arial,sans-serif!important;
}

#nodebb textarea:placeholder {
  color: #9aa2ab;
}

.top-post-form.logged-in {
  margin-left: 80px;
  margin-top: 0px;
  margin-bottom: 40px;
}

small.logged-as {
  font-size: 14px;
}

/*******************

    COMMENTS FORM

********************/

#nodebb .form-control {
  background: #f6f6f6;
  border: 2px solid #dedede;
  font-size: 16px;
}
#nodebb .form-control:focus {
  background: white;
  box-shadow: none;
}
#nodebb .form-control.comment-box {
  background: #EDEDED;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.comments-toolbar {
  display: inline-block;
  width: 100%;
  border: 1px solid #DBDBDB;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #e8e7e7;
}

.comments-toolbar .actions .special-action .active {
  display: none;
}

.comments-toolbar .actions .special-action:hover .active {
  display: inline-block;
  cursor: pointer;
}
.comments-toolbar .actions .special-action:hover .inactive {
  display: none;
}

#nodebb .btn.btn-primary, #root .btn.btn-primary {
  background: none repeat scroll 0% 0% #337ab7;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #337ab7;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  padding: 6px 10px;
}

/***********

  SORT BAR

************/

.sortbar {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDBDB;
  font-size: 16px;
  color: #838383;
}

.sortbar .postCounts {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.035em;
}

.sortbar .postCounts .posts-count {
  margin-left: 15px;
  margin-right: 5px;
}

.sortbar .postCounts .sort-wrapper {
  display: flex;
  align-items: center;
  letter-spacing: -0.045em;
}

.sortbar .postCounts .selected-sorting {
  background: #fdfdfd;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 10px rgba(131, 131, 131, 0.1);
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  letter-spacing: -0.045em;
  margin-left: 5px;
}

.sortbar .postCounts .selected-sorting:hover {
  background: #F5F5F5;
}

.sortbar .postCounts .selected-sorting img {
  margin-left: 10px;
  height: 22px;
}

#nodebb .sortbar .postCounts .selected-sorting ul.select-sorting {
  position: absolute;
  background: white;
  border-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px !important;
  border: none !important;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.2);
  top: 30px;
  margin: 0px;
  margin-left: -13px;
  margin-top: 1px;
  display: none;
}

#nodebb .sortbar .postCounts .selected-sorting:hover ul.select-sorting {
  display: block;
}

#nodebb .sortbar .postCounts .selected-sorting ul.select-sorting:before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: #ffffff;
  transform: rotate(135deg);
  position: absolute;
  margin-top: -17px;
  right: 8px;
}

#nodebb .sortbar .postCounts .selected-sorting ul.select-sorting li {
  display: block !important;
  margin-bottom: 5px;
  border-radius: 7px;
}

#nodebb .sortbar .postCounts .selected-sorting ul.select-sorting li a {
  font-size: 15px;
  line-height: 35px;
  letter-spacing: -0.045em;
  color: #696969 !important;
  padding: 7px 10px;
  border-radius: 5px;
}

#nodebb .sortbar .postCounts .selected-sorting ul.select-sorting li.active a,
#nodebb .sortbar .postCounts .selected-sorting ul.select-sorting li:hover a {
  background: #EDEDED;
}


#nodebb .sortbar .user-menu .login-link {
  float: right;
  margin-right: 0px;
  margin-top: -30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.045em;
}

#nodebb .sortbar .user-menu .login-link:hover {
  color: #434A81;
  cursor: pointer;
}

/***********

  POSTS CSS

************/

#nodebb .post-tools {
  float: left;
  text-transform: lowercase;
  margin-top: 4px;
}

#nodebb ul:not(.sort-group) {
  margin-bottom: 0px;
  margin-top: 15px;
  padding: 0px;
  border-left: 2px solid #e8e8e8;
  margin-left: 15px;
  list-style-type: none;
}

#nodebb > ul ul {
  list-style-type: none;
  margin-left: 35px;
}

#nodebb > ul li {
  margin-top: 20px;
}

#nodebb > ul > li {
  box-shadow: none;
  margin-bottom: 0px;
}

#nodebb .profile-image {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}

#nodebb .topic-item {
  padding-left: 25px;
}

#nodebb .topic-profile-pic {
  float: left;
  margin-top: -12px;
  margin-right: 0;
  margin-left: -25px;
  width: 50px;
  position: absolute;
  left: 0px;
}

#nodebb .username {
  font-size: 16px;
  color: #333;
  font-weight:normal;
}

.post-body {
  font-size: 16px;
  font-weight: normal;
}

#nodebb .post-tools a {
  padding-right: 0px;
}

#nodebb .topic-text {
  margin-top: -15px;
}

.posts-vote {
  float: left;
  margin-top: 4px;
  margin-left: 3px;
  font-size: 15px;
  color: #9c9c9c;
  margin-right: -6px;
}

.reply:before,
.quote:before,
.post-time:before,
.edit:before {
  content: ".";
  font-size: 50px;
  line-height: 0px;
  margin-right: 5px;
  display: contents;
  color: #e1e1e1;
}

.post-time:before {
  margin-right: 3px;
  display: inline-block;
}

.reply,
.quote,
.edit {
  font-size: 15px;
  color: #3d64bb !important;
}

i.i-upvote,
i.i-downvote {
  height: 24px;
  width: 24px;
  display: inline-block;
  float: left;
  margin-right: 2px;
}

i.i-upvote.icon-thumbs-up {
  background: no-repeat center
    url(https://i.gyazo.com/2283ea88abe193d981140ab99c35de05.png);
}

i.i-upvote.icon-thumbs-up-alt {
  background: no-repeat center
    url(https://i.gyazo.com/78f59e525a12241b2c1ef6fe9381bb1c.png);
}

i.i-downvote.icon-thumbs-down {
  background: no-repeat center
    url(https://i.gyazo.com/0abb2c530019a34f1ecc9edb309f5b3f.png);
}

i.i-downvote.icon-thumbs-down-alt {
  background: no-repeat center
    url(https://i.gyazo.com/866cd63d0b43600b538fdc75d7be3216.png);
}

#nodebb [class^="icon-thumbs"]:before,
#nodebb [class*=" icon-thumbs"]:before {
  display: none;
}

/***********

  USER CSS

************/

.user-status {
  display: flex;
  float: left;
  background: #333;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  z-index: 100;
  margin-left: 62px;
  margin-top: -86px;
  border: 2px solid white;
}

.user-status.online {
  background: #4caf50;
}
.user-status.away {
  color: #ff6d00;
}
.user-status.dnd {
  color: #f44336;
}
.user-status.offline {
  color: #333;
}

.user-status-comments {
  transform: translate(-25px, 38px);
}

.user-status-main {
  transform: translate(0px, 5px);
  width: 15px;
  height: 15px;
  border: 3px solid white;
  margin-left: 54px;
  margin-top: -81px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header-first-row {
  position: relative;
  height: 30px;
}

.modal-header-icon {
  position: absolute;
  left: 50%;
  top: 0px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  transform: translate(-50%);
}

/*******************

   LOGIN MODAL

********************/

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  width: 60%;
  min-width: 400px;
  max-width: 660px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.2);
  border-radius: 10px !important;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  background-color: white;
  color: black;
}

/* Close Button */
.modal-close {
  font-weight: bold;
  display: block !important;
  position: absolute;
  right: 0px;
  z-index: 1000;
  height: 30px;
  width: 30px;
  color: #838383;
}
.modal-close .active {
  display: none;
}
.modal-close svg {
  max-width: 14px;
  position: absolute;
  margin-top: 10px;
}
.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  color: #434A81;
}

/* alternate logins */
#nodebb ul.alt-logins {
  border-left: none;
  margin-top: 0px;
  color: #838383;
  font-size: 30px;
}
#nodebb .alt-logins svg {
  margin: 0px 10px;
}
#nodebb .alt-logins a:hover {
  color: #434A81;
}

/* footer */
.modal-footer {
  padding: 14px 20px;
  padding-top: 24px;
  background: #F5F5F5;
  border-radius: 0px 0px 10px 10px;
  color: #838383;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.045em;
  display: flex;
}
.modal-footer .register-modal-open:hover {
  color: #434A81;
}

.modal-footer .logo {
    margin-left: auto;
}
.modal-footer .logo img {
    height: 29px;
}

.modal-body {
  padding: 15px 70px;
  position: relative;
}

.modal-login {
  display: block;
  margin: 0 auto;
}

.modal-login:not(:last-child) {
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.modal-separator {
  margin-top: 20px;
  border-top: 1px solid #F5F5F5;
  text-align: center;
  margin-bottom: 40px;
}

.modal-separator span {
  padding: 0px 15px;
  background: white;
  font-size: 11px;
  line-height: 14px;
  color: #838383;
  margin-top: -8px;
  margin-left: -15px;
  display: inline-block;
  position: absolute;
}

.modal-login-alternative li img.active {
  display: none;
}

.modal-login-alternative li:hover img.active {
  display: inline-block;
}
.modal-login-alternative li:hover img.inactive {
  display: none;
}



.modal-col {
  float: left;
  width: 48%;
  height: 100%;
}

.modal-or {
  position: absolute;
  top: 10%;
  left: 49%;
}

.modal-subtitle {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.045em;
  color: #5A5A5A;
}

/* inputs */
#nodebb .modal-input {
  width: 100%;
  background: #E5E5E5;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  box-shadow: inset 0px 0px 10px rgba(131, 131, 131, 0.1);
}

.email-input {
  margin-bottom: 15px;
}

#nodebb .modal-input input:focus {
  box-shadow: 0px 0px 10px rgba(67, 74, 129, 0.2), inset 0px 0px 10px rgba(131, 131, 131, 0.1);
  color: #434A81;
  border: none;
}


.email-input svg, .password-input svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 12px;
  font-size: 19px;
}

.modal-button {
  background: #434A81;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.045em;
  float: right;
  padding: 6px 18px;
}

.modal-forgot-password {
}

.caption-login-text{
  font-size: 14px;
    width: 80%;
    margin: 0px auto;
}

.modal-create-account-div {
  background-color: lightblue;
  width: 80%;
  margin: 0 auto;
}
.modal-create-account-div p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

/* Absolute Center Spinner */
.loading {
  display: block;
  font-size: 10px;
  width: 7em;
  height: 2em;
  margin-top: 0px;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  font-size: 10px;
  width: 7em;
  height: 2em;
  margin-top: 0px;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*
.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 7em;
  height: 7em;
  margin-top: -0.5em;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
}*/


/* Absolute Center Spinner */
.loading-inside {
    position: absolute;
    z-index: 999;
    height: calc(100% + 65px);
    width: calc(100% + 30px);
    overflow: visible;
    margin: auto;
    top: -65px;
    left: -30px;
}

/* Transparent Overlay */
.loading-inside:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

/* :not(:required) hides these rules from IE9 and below */
.loading-inside:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading-inside:not(:required):after {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  font-size: 10px;
  width: 10em;
  height: 10em;
  margin-top: -0.5em;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
}


/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show-snackbar {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.snackbar.success {
  background-color: green;
}

.snackbar.error {
  background-color: red;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.load-more-div {
    margin-bottom: 0px;
    margin-top: 15px;
    padding: 0px;
    border-left: 2px solid #e8e8e8;
    margin-left: 15px;
    list-style-type: none;
    max-width: 655px;
    margin: calc(3 * 1rem) calc(10% + 60px);
}

.load-more-div button {
    float: right;
}

h4.alt-acc{
  text-align: center;
}

ul.sort-group{
    float: right;
    height: 30px;
    margin: 0;
}
ul.alt-logins {
  text-align: center;
}

ul.sort-group li, 
ul.alt-logins li {
    display: inline-block;
    cursor: pointer;
}

ul.sort-group a,
ul.alt-logins a {
    padding: 5px;
}

ul.sort-group .sort-group-link.active a{
    background-color: lightgray;
    color: lightblue;
}

li.sort-group-link(:last-child),
ul.alt-logins li:last-child {
    margin-right: 5px;
}

li.sort-group-link:hover{
    background-color: #eee;
}

div.g-recaptcha{
  padding-left: 10%;
}

form{
  position: relative!important;
}

.emoji-picker-icon{
  top: unset!important;
  bottom: 33px!important;
  left: 80px!important;
  width: 22px;
}

.sub-reply-input .emoji-picker-icon{ 
    bottom: 80px!important;
    left: 69px!important;     
    font-size: 18px;
    width: 18px;
} 

.sub-edit-input .emoji-picker-icon{ 
    bottom: 27px!important;
    left: 62px!important;
    font-size: 18px;
    width: 18px;
}

.emoji-menu-tabs td{
  padding: 0px!important;
  border: none!important;
}

.emoji-menu .emoji-items-wrap{
  overflow: auto!important;
}

.sub-reply-input .emoji-wysiwyg-editor.form-control,
.sub-edit-input .emoji-wysiwyg-editor.form-control{
  height: 70px!important;
}

.gifs-box{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  height: 195px;
  z-index: 1000;
  background: white;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#gifs-list {
  height: 100px;
  overflow: auto;
  margin: 10px;
  display: flex;
}

#gifs-list img{
  cursor: pointer;
}

.gif-search{
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
}

.gif-header h4{
    margin: 10px;
    font-size: 16px;
    font-weight: normal;
}

.gif-header{
  border-bottom: 1px solid;
}

.close-gif{
  position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    font-weight: normal;
    cursor: pointer;
}

.emoji-wysiwyg-editor {
  padding-right: 30px!important;
}

#nodebb-comments-list{
  position: relative;
}

#nodebb-comments-list .special-action.gif i:before{
  font-size: 8px;
  top: 0px;
}

#nodebb-comments-list .special-action.img i{
  font-size: 18px;
  position: relative;
  top: 5px;
}

.special-box{
  float: left;
}

.upload-form{
  display: none;
}

.logout-box {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.logout-box i {
  font-size: 14px;
} 
.logout-box span {
  font-size: 10px;
}


.nodebb-error{
  color: #ac0202;
}

.menuButton-container{
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}

.options-container{
  display: none;
  position: absolute;
  margin-top: 1px;
  right: 0px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  background: white; 
  z-index: 10000;
}


.options-container span{
  display: block; 
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.menuButton-container .menuButton {
  height: 20px;
  width: 20px;
  line-height: 10px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  display: none;
  font-weight: bold;
  transform: rotate(90deg);
}


.menuButton-container .menuButton:hover{
  border: 1px solid rgba(0,0,0,0.5);
}


#nodebb .topic-item:hover .menuButton-container .menuButton{
  display: block;
}


.options-container i{
  display: inline;
  margin-right: 3px;
}

.special-action.icon{ 
  display: inline-block;
  height: 18px;
  font-size: 22px;
}

.sub-reply-input .special-action.icon, 
.sub-edit-input .special-action.icon{ 
  display: inline-block;
  height: 18px;
  font-size: 22px;
}

body.hasLoader ul#nodebb-comments-list li {
  display: none !important;
}

body.loadmore.hasLoader ul#nodebb-comments-list li{
  display: block!important;
}

body.hasLoader button#nodebb-load-more{
  opacity: 0;
}

body.hasLoader ul#nodebb-comments-list {
  /*height: 100px;*/
}

.error-message {
  color: red;
  margin-left: 10%;
}

#comments-root {
  position: relative;
}

#nodebb-login {
  margin-right: 100px;
}

#root {
  top: 102px;
  right: 45vw;
  position: absolute;
  /*display: none;*/
}

small.logged-as {
    max-width: calc(100% - 85px);
    display: inline-block;
}


.comments-toolbar {
    height: auto;
    padding: 10px;
}

.buttons-container{
  display: block;
  width: 250px;
  margin:0px auto;
}


#nodebb{
  min-height: 50px;
}

.modal-content .nodebb-error {
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 80%;
    margin: 0px auto;
}

#publishTopic{
  display: none;
}

.no-topic a{
  color: #0073aa!important;
  font-size: 15px;
}

.no-topic a:hover{
  color: #005177!important;
}

.no-topic p{
  font-size: 13px;
}

@media only screen and (max-width: 768px) {

  #root {    
    top: 80px;
    right: 140px;
  }

  .sort-group{
    margin-bottom: 20px;
  }

  .emoji-picker-icon{
    bottom: 59px!important;
  }

  .sub-reply-input .emoji-picker-icon,
  .sub-edit-input .emoji-picker-icon{
    bottom: 95px!important;
    left: 70px!important;
  }

  .sub-reply-input .comments-toolbar button,
  .sub-edit-input .comments-toolbar button{
    display: block!important;
    float: none!important;
  }
  .comments-toolbar .special-box{
    float: none!important;
    display: block!important;
  }


 
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #root {
    top: 102px;
    right: 60px;
  }
}